* RESET STYLES */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

body {
    height: 100vh;
    font-family: "Varela Round";
    background-color: rgb(209, 209, 209);
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
    "header"
    "body"
}

#header {
    grid-area: header;
    background-color: white;
    font-weight: bold;
    display:flex;
    justify-content: left;
    align-items: center;
    padding-left: 5vw;
    font-size: 50px;
    z-index: 2;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.226);
}

#headerText:hover {
    cursor: pointer;
    color: rgb(219, 223, 0);
}

#body {
    grid-area: body;
    background-color: rgb(209, 209, 209);
    padding: 10vh 10vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, minmax(166px, 1fr));
    gap: 15px;
}

.card {
    display:flex;
    flex-direction: column;
    border: 3px solid black;
    padding: 3vh 2vw;
    font-size: 1.3rem;
    background-color: white;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.226);
    border-radius: 10px;
    text-align: center;
}

.toggleButton {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

.entry {
    grid-area: entry;
}

.closeButton {
    grid-area: closeButton;
    width: 2vw;
}


#addBookButton {
    position: fixed;
    margin-top: 85vh;
    margin-left: 90vw;
    height: 70px;
    width: 70px;
    cursor: pointer
}

#addBookButton:hover {
    filter: brightness(0) saturate(100%) invert(76%) sepia(57%) saturate(4019%) hue-rotate(23deg) brightness(87%) contrast(103%);
}


