/* RESET STYLES */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}

#root, #__next {
    isolation: isolate;
}

body {
    height: 100vh;
    font-family: "Varela Round";
    background-color: rgb(209, 209, 209);
    display: grid;
    grid-template-rows: 1fr 7fr;
    grid-template-areas:
    "header"
    "body"
}

#header {
    grid-area: header;
    background-color: white;
    font-weight: bold;
    display:flex;
    justify-content: left;
    align-items: center;
    padding-left: 5vw;
    font-size: 50px;
    z-index: 2;
    box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.226);
}

#headerText:hover {
    cursor: pointer;
    color: rgb(4, 0, 255);
}

#body {
    grid-area: body;
    background-color: rgb(209, 209, 209);
    padding: 7vh 10vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fit, 166px);
    gap: 15px;
}

.card {
    display:grid;
    grid-template-columns: 40fr 1fr;
    grid-template-areas: 
    "entry closeButton";
    padding: 0px 0px 3vh 3vw;
    font-size: 1.2vw;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.226);
    border-radius: 15px;
    text-align: center;
    border-left: 10px solid rgb(4, 0, 255);
}

.toggleButton {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 2px solid black;
    cursor: pointer;
}

.card .entry {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 2.5vh;
    grid-area: entry;
    align-items: center;
    text-align: center;
}

.deleteButtonGrid {
    grid-area: closeButton;
    width: 2vw;
    padding-right: 0.9vw;
    padding-left: 0.1vw;
    padding-top: 1.3vh;
}

.deleteButton:hover {
    filter: brightness(0) saturate(100%) invert(12%) sepia(99%) saturate(7202%) hue-rotate(2deg) brightness(99%) contrast(110%);
    cursor: pointer;
}

#addBookButton {
    position: fixed;
    margin-top: 85vh;
    margin-left: 90vw;
    height: 70px;
    width: 70px;
    cursor: pointer
}

#addBookButton:hover {
    filter: brightness(0) saturate(100%) invert(9%) sepia(82%) saturate(7007%) hue-rotate(248deg) brightness(106%) contrast(149%);
}

#newBookDialog {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25vh;
    font-size: 1.3rem;
    text-align: center;
    height: 40vh;
    width: 30vw;
    padding: 0px;
    border: 5px solid black;
    border-radius: 10px;
}

#newBookDialog::backdrop {
    backdrop-filter: blur(1px);
}

#newBookDialog form {
    display: flex;
    flex-direction: column;
    padding: 2vh 1vw;
    gap: 1vh;
}
#newBookDialog .row input {
    border: 2px solid black;
}

#newBookDialog .buttons {
    display: flex;
    gap:  10px;
    justify-content: center;
    align-items: center;
}

.buttons .button {
    color: white;
    border-radius: 10px;
    font-size: 1.2vw;
    padding: 1vh 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttons .submit {
    background-color: rgb(0, 177, 0);
}

.buttons .submit:hover {
    background-color: rgb(0, 248, 0);
}

.buttons .cancel {
    background-color: rgb(177, 0, 0);
}

.buttons .cancel:hover {
    background-color: rgb(255, 0, 0);
}

#newBookDialog .row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#newBookDialog .buttons {
    display: flex;
    align-items: center;
}

.row .entry {
    width: 20vw;
}

.row .checkbox {
    margin-right: 2vw;
}


